*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: sans-serif;
}

/* big-box */

#big-box{
    display: flex;

    height: 100%;
    width: 100%;
}

#big-box .side-bar{
    width: 230px;
    min-width: 230px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: calc(100vh - 90px);
    overflow-y: auto;

    margin-bottom: 90px;

    background-color: black;
}

.side-bar::-webkit-scrollbar{
    width: 6px;
}

.side-bar::-webkit-scrollbar-track{
    background-color: transparent;
}

.side-bar::-webkit-scrollbar-thumb{
    background-color: #777777;

    border-radius: 10px;
}

.side-bar .container .box-logo{
    width: 130px;

    margin: 20px 0 25px 20px;
}

.box-logo .logo-big{
    width: 100%;
}

.box-logo .logo-small{
    display: none;

    width: 100%;
}

.side-bar .container .side-link .first-list{
    padding-left: 20px;
    margin-bottom: 15px;

    list-style-type: none;

    position: relative;

    cursor: pointer;
}

.first-list img{
    width: 25px;
}

.side-link .first-list{
    margin-left: 2px;
}

.side-link .first-list:hover:not(.first-list:nth-of-type(4)){
    border-left: #adff2f solid 2px;

    margin-left: 0;
}

.side-link .first-list:not(.first-list:nth-of-type(4)) img{
    position: relative;

    filter: invert(37%) sepia(1%) saturate(2104%) hue-rotate(317deg) brightness(108%) contrast(78%);
    
    left: -2px;
}

.side-link .first-list:hover:not(.first-list:nth-of-type(4)) img{
    filter:saturate(7484%) brightness(106%) contrast(100%);
}

.side-link .first-list:not(.first-list:nth-of-type(4)) span{

    color:#6c6c6c;
    
    padding-left: 10px;

    transition: ease .2s;
}

.side-link .first-list:hover:not(.first-list:nth-of-type(4)) span{
    color: white;
}

.side-link .first-list:nth-of-type(4){
    margin-top: 30px;
}

.side-link .first-list *{
    vertical-align: middle;
}

.first-list:nth-of-type(4) .playlist::-webkit-scrollbar{
    width: 6px;
}

.playlist::-webkit-scrollbar-track{
    background-color: transparent;
}

.playlist::-webkit-scrollbar-thumb{
    background-color: #777777;

    border-radius: 10px;
}

.side-link .first-list:nth-of-type(4) .second-list div{
    display: flex;
    align-items: center;

    cursor: pointer;

    gap: 15px;

    margin: 15px 0 20px;
}

.side-link .first-list:nth-of-type(4) .second-list div a{
    background-color: #a3a3a3;

    text-decoration: none;
    
    color: black;
    
    font-size: 35px;
    font-weight: bold;
    
    padding: 0 10px;
}

.first-list:nth-of-type(4) .second-list div span{
    color: #6c6c6c;

    font-weight: bold;
    font-size: 16px;

    transition: ease .2s;
}

.first-list:nth-of-type(4) .second-list div:hover span{
    color: white;

    transform: scale(1.1);
}

.side-link .first-list:nth-of-type(4) .playlist{
    height: 150px;

    overflow-y: auto;
}

.side-link .first-list:nth-of-type(4) .playlist li{
    list-style-type: none;
}

.playlist li{
    margin-bottom: 20px;
}

.playlist li span{
    color: #6c6c6c;

    font-weight: bold;

    font-size: 14px;
}

.playlist li:hover span{
    color: white;
}

.side-bar .container:nth-of-type(2){
    padding: 0 20px;
}

.container .download{
    display: flex;
    align-items: center;

    padding: 10px 2px;

    cursor: pointer;
}

.container .download span{
    color: #6c6c6c;

    font-size: 12px;

    margin-left: 20px;
}

.container .download:hover span{
    color: white;

    transform: scale(1.2);
}

.container .download img{
    width: 20px;


    filter: invert(42%) sepia(0%) saturate(1411%) hue-rotate(228deg) brightness(103%) contrast(94%);
}

.container .download:hover img{
    filter: invert(70%) sepia(86%) saturate(387%) hue-rotate(36deg) brightness(111%) contrast(105%);

    transform: scale(1.2);
}

.container hr{
    border-color: #6c6c6c;

    margin-bottom: 15px;
}

.container .profile{
    display: flex;
    align-items: center;

    padding-left: 2px;
    padding-bottom: 10px;

    cursor: pointer;
}

.container .profile img{
    background-color: #6c6c6c;

    width: 25px;
    height: 25px;

    border-radius: 50%;
}

.container .profile span{
    color: white;
    font-weight: bold;
    display: block;

    transition: ease .2s;

    font-size: 14px;

    margin-left: 20px;
}

.container .profile:hover span{
    transform: scale(1.2);
}

#big-box .main{
    flex-grow: 1;

    height: calc(100vh - 90px);
    overflow-y: scroll;

    margin-bottom: 90px;

    background-color: #141922;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(18,50,29,1) 45%, rgba(0,98,35,1) 100%);
}

.main::-webkit-scrollbar{
    width: 6px;
}

.main::-webkit-scrollbar-track{
    background-color: transparent;
}

.main::-webkit-scrollbar-thumb{
    background-color: #777777;

    border-radius: 10px;
}

#big-box .main .upgrade{
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    z-index: 100;

    backdrop-filter: blur(2px);

    background-color: rgba(0, 0, 0, .4);

    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,.4) 50%, rgba(0,0,0,.9) 100%);

    height: 90px;
    width: calc(100% - 230px);

    /* box-shadow: 0px 10px 15px 10px rgba(0, 0, 0, .4); */
}

#big-box .main .upgrade a{
    text-align: center;

    text-decoration: none;

    color: #ffffff;

    margin-right: 30px;
    margin-left: 25px;

    font-weight: bold;
    font-size: 12px;

    border: solid #ffffff 2px;
    border-radius: 25px;

    padding: 15px 40px;

    transition: ease .2s;
}

#big-box .main .upgrade a:hover{
    transform: scale(1.1);
}

#big-box .main .album{
    height: 100%;

    padding-top: 90px;
    padding-left: 20px;
    padding-right: 20px;
}

#big-box .main .album .category{
    display: flex;
    justify-content: center;
    align-items: flex-start;

    padding: 25px 0 30px 0;
    margin-bottom: 20px;
}

#big-box .main .album .category ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    gap: 25px;

    list-style-type: none;

    font-weight: bold;
    font-size: 17px;

    color:#7d7f84;
}

#big-box .main .album .category ul li{
    cursor: pointer;

    transition: ease .2s;
}

#big-box .main .album .category ul li:hover{
    transform: scale(1.1);

    color: white;
}

#big-box .main .album .category ul li hr{
    margin-right: auto;
    margin-left: auto;

    opacity: 0;
    
    width: 35px;
    height: 3px;

    transition: ease .2s;

    margin-top: 6px;

    background-color: #adff2f;

    border-color:#adff2f;
    border-style: solid;
}

#big-box .main .album .category ul li:hover hr{
    opacity: 1;
}

#big-box .main strong{
    display: block;
    padding-top: 20px;
    
    color: white;

    font-size: 17px;
}

#big-box .main strong:first-child{
    padding-top: 0;
}

#big-box .main .title{
    font-size: 25px;
    
    color: white;
}

#big-box .main .sub{
    font-size: .9em;

    font-weight: bold;

    padding: 15px 0 15px;

    color: #7d7f84;
}

#big-box .main .recently .box{
    display: flex;

    flex-wrap: wrap;

    gap: 15px;

    padding: 30px 0 45px;
}

#big-box .main .recently .box .card-rec{
    text-align: center;
    
    height: 100%;
    width: calc(100% / 6 - 15px / 6 * 5);
}

#big-box .main .box-img{
    position: relative;

    height: 100%;
    width: 100%;
}

#big-box .main .box-img img{
    width: 100%;
}

#big-box .main .box-img .hover-play{
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;

    height: calc(100% - 4px);
    width: 100%;

    z-index: 99;

    color: white;

    top: 0;
    left: 0;

    cursor: pointer;

    transition: ease .1s;
    

    background-color: #00000094;
}

#big-box .main .box-img .hover-play:hover{
    opacity: 1;
}

.hover-play i{
    font-size: 50px;
}

#big-box .main .circle img{
    border-radius: 50%;
}

#big-box .main .created-for .box{
    display: flex;

    flex-wrap: wrap;

    gap: 15px;

    padding: 30px 0 45px;
}

#big-box .main .created-for .box .card-crt{
    text-align: center;

    height: 100%;
    width: calc(100% / 6 - 15px / 6 * 5);


}

#big-box .main .popolar .box{
    display: flex;

    flex-wrap: wrap;

    gap: 15px;

    padding: 30px 0 45px;
}

#big-box .main .popolar .box .card-popol{
    text-align: center;

    cursor: pointer;

    height: 100%;
    width: calc(100% / 6 - 15px / 6 * 5); 
}

/* player */

#player{
    position: fixed;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;

    padding: 0 10px;

    height: 90px;
    width: 100%;

    background-color: #282828;
}

#player .container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.container .player-box{
    display:flex;
    justify-content: center;
    align-items: center;

    width: calc(100% / 2 * 1);
}

.container .player-box:nth-of-type(1){
    justify-content: flex-start;
    margin-right: 15px;

}

.container .player-box:nth-of-type(2){
    flex-grow: 1;

    margin-left: 10px;
    margin-right: 10px;
}

.container .player-box:nth-of-type(3){
    justify-content: flex-end;

    margin-left: 15px;
}

.player-box .box-img{
    height: 40px;
    width: 40px;

    cursor: pointer;
}

.player-box .box-img img{
    height: 100%;
}

.player-box .song{
    padding-left: 13px;
    padding-right: 20px;

    display: flex;
    flex-direction: column;

    cursor: pointer;
    
    gap: 5px;
}

.song strong{
    color: white;

    font-size: 14px;
}

.song p{
    color: #6c6c6c;

    font-size: 9px;
}

.player-box:nth-child(1) .icon{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    width: 100%;
}

.player-box:nth-child(1) .icon i{
    font-size: 14px;
    
    color: #6c6c6c;

    cursor: pointer;
}

.player-box:nth-child(1) .icon i:hover{
    color: #adff2f;
}


.player-box:nth-of-type(2) .play{
    min-width:225px ;
}

.player-box:nth-of-type(2) .play .icon{
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    gap: 15px;

    font-size: 15px;

    color: white;
}

.player-box:nth-of-type(2) .play .icon i:hover{
    color: #adff2f
}

.player-box:nth-of-type(2) .play .bar{
    display: flex;
    align-items: center;

    margin-top: 18px;

    gap: 25px;
}

.play .bar .line .back{
    display: flex;
    justify-content: flex-start;

    border-radius: 2px;

    width: 25vw;
    height: 5px;

    background-color: #5a5a5a;

    cursor: pointer;
}

.play .bar .line .back .hover{
    height: 100%;
    width: 5vw;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    cursor: pointer;

    border-radius: 2px;

    background-color:#c1c1c1;

}

.play .bar .line .back .hover:hover{
    background-color: #adff2f;
}

.play .bar .line .back .hover .curs{
    background-color: #ffffff;

    cursor: pointer;

    opacity: 0;

    border-radius: 25px;

    height: 15px;
    width: 15px;
}

.play .bar .line .back .hover:hover .curs{
    opacity: 1;
}

.player-box:nth-of-type(2) .play span{
    color: white;

    font-size: 8px;
}

.play .icon i:nth-of-type(3){
    font-size: 25px;

    display: flex;
}

.player-box:nth-of-type(3) .icon{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;

    gap: 12px;

    font-size: 12px;

    color: white;
}

.player-box:nth-of-type(3) .icon i:hover{
    color: #adff2f;

    cursor: pointer;
}

.player-box .icon .back{
    display: flex;
    justify-content: flex-start;

    border-radius: 2px;

    cursor: pointer;

    width: 64px;
    height: 5px;

    background-color: #5a5a5a;
}

.player-box .icon .back .hover{
    height: 100%;
    width: 25px;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    cursor: pointer;

    border-radius: 2px;

    background-color:#c1c1c1;

}

.player-box .icon .back .hover:hover{
    background-color: #adff2f;
}

.player-box .icon .back .hover .curs{
    background-color: #ffffff;

    cursor: pointer;

    opacity: 0;

    border-radius: 25px;

    height: 10px;
    width: 10px;
}

.player-box .icon .back .hover:hover .curs{
    opacity: 1;
}

/* query */

@media screen and (max-width: 992px) {
    #big-box .main .album .category ul{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    
        gap: 25px;
    
        list-style-type: none;
    
        font-weight: bold;
        font-size: 17px;
        line-height: 40px;

        color:#7d7f84;
    }

    #big-box .main .recently .box .card-rec{
        text-align: center;
        
        height: 100%;
        width: calc(100% / 4 - 15px / 4 * 3);
    
    }

    #big-box .main .created-for .box .card-crt{
        text-align: center;
    
        height: 100%;
        width: calc(100% / 4 - 15px / 4 * 3);
    }

    #big-box .main .popolar .box .card-popol{
        text-align: center;
    
        height: 100%;
        width: calc(100% / 4 - 15px / 4 * 3);    
    }

}

@media screen and (max-width: 768px) {
    #big-box .main .album .category ul{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    
        gap: 25px;
    
        list-style-type: none;
    
        font-weight: bold;
        font-size: 17px;
        line-height: 40px;

        color:#7d7f84;
    }

    #big-box .main .recently .box .card-rec{
        text-align: center;
        
        height: 100%;
        width: calc(100% / 2 - 15px / 2 * 1);
    }

    #big-box .main .created-for .box .card-crt{
        text-align: center;
    
        height: 100%;
        width: calc(100% / 2 - 15px / 2 * 1);    
    
    }

    #big-box .main .popolar .box .card-popol{
        text-align: center;
    
        height: 100%;
        width: calc(100% / 2 - 15px / 2 * 1);    
    }

}

@media screen and (max-width: 576px){

    #big-box .side-bar{
        width: 50px;
        min-width: 50px;
    
        background-color: rgb(0, 0, 0);
    }

    .side-bar .container{
        display: flex;
        flex-direction: column;
        align-items: center;

        padding-top: 10px;
    }

    .side-bar .container .box-logo{
        width: 30px;

        margin: 0;
    }

    .box-logo .logo-big{
        display: none;
    }
    
    .box-logo .logo-small{
        display: block;
    
        width: 100%;
    }

    .side-bar .container:nth-of-type(2){
        padding: 0;
    }

    .side-bar .container .download{
        padding: 0;

        padding-right: 2px;
        padding-bottom: 25px;
    }

    .side-bar .container .download span{
        display: none;
    }

    .container:nth-of-type(2) hr{
        display: none;
    }

    .container:nth-of-type(2) .profile{
        padding: 0;

        padding-bottom: 10px;
    } 

    .container:nth-of-type(2) .profile span{
        display: none;
    }

    .side-bar .container .side-link .first-list{
        padding: 0;

        padding: 0 11px 0 12px;

        margin-left: 0;
    }

    .side-link .first-list:nth-of-type(1){
        border: none;

        margin-top: 15px;
    }

    .side-link .first-list:nth-of-type(4){
        display: none;
    }

    .side-link .first-list span{
        display: none;
    }

    #big-box .main .upgrade{
        position: fixed;
    
        display: flex;
        align-items: center;
        justify-content: flex-end;
    
        height: 90px;
        width: calc(100% - 50px);
    }

    #big-box .main .album .category ul{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    
        gap: 25px;
    
        list-style-type: none;
    
        font-weight: bold;
        font-size: 15px;
        line-height: 40px;
    
        color:#7d7f84;
    }

    #big-box .main .recently .box .card-rec{
        text-align: center;
        
        height: 100%;
        width: calc(100% / 2 - 15px / 2 * 1);
    }

    #big-box .main .created-for .box .card-crt{
        text-align: center;
    
        height: 100%;
        width: calc(100% / 2 - 15px / 2 * 1);    
    
    }

    #big-box .main .popolar .box .card-popol{
        text-align: center;
    
        height: 100%;
        width: calc(100% / 2 - 15px / 2 * 1);    
    }

    .player-box:nth-child(1) .icon{
        flex-wrap: wrap;
    }
}